<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      &#127869 Current Menu
    </h2>
  </div>
  {{#each blogs as |blog|}}
    <div class="blog col-md-5">
      <p>
        {{blog.id}}.
        {{blog.title}}
        {{blog.text}}
      </p>
    </div>
  {{/each}}
</div>



{{!-- <div class="container border border-primary">
    <div class="row">
        <div class="col">
            <div class="blogContainer">
                container
            </div>
        </div>
    </div>
    <div class="newBlogForm">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control title" id="exampleFormControlInput1" placeholder="title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Textarea</label>
            <textarea class="form-control textArea" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
    <button type="button" class="btn btn-primary submitButton">Primary</button>
</div> --}}