  <div class="container">
    <h1 class="mb-4 mt-4" style="text-align: center">Posts</h1>
    {{!-- <a href="/new" class="btn btn-success">New Article</a> --}}


    {{#each blogs as |blog|}}
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">{{blog.title}}</h4>
          <div class="card-subtitle text-muted mb-2">
            {{format_time blog.createdAt}}
          </div>
          <div class="card-text mb-2">{{blog.description}}</div>
          <a href="/show/{{blog.id}}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    {{/each}}
  </div>

<script src="./js/logout.js"></script>