  <div class="container">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">{{title}}</h4>
          <div class="card-subtitle text-muted mb-2">
            {{format_time createdAt}}
          </div>
          <div class="card-text mb-2">{{description}}</div>
          </form>
        </div>
      </div>
    <a href="/" class="btn btn-secondary">All Articles</a>
    <a href="/articles/edit/article.id" class="btn btn-info">Edit</a>
  </div>